* {
    box-sizing: border-box;
}

#root {
    margin: 0;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lobster', fantasy;
    letter-spacing: 2px;
}

